@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #26eac5;
    --cor-escura: #354b45;
    --cor-cinza: #98b0a9;
    --cor-azulclaro: #3bbdff;
    --cor-azulescuro: #0088dd;
    --cor-preto: #000000;
    --cor-branco: #FFFFFF;
}

#body {
    background-color: var(--cor-azulclaro);
}

#rodape {
    background-color: var(--cor-escura);
    color: var(--cor-branco);
}

#ancora {
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 20px;
    transition:  color 0.3s ease;
}
#ancora:hover {
    color: var(--cor-principal);
    cursor: pointer;
    text-decoration: underline;
}

.habilidades {
    text-decoration: none;
}